.red{
    color: red;
}
.green{
    color:green;
}

.blue{
    color: blue;
}
.orange{
    color:orange;
}

.purple{
    color: purple;
}

.gold{
    color: goldenrod;
}

.black{
    color: black;
}

.babyBlue{
    color: lightblue;
}

.gray{
    color: lightslategray;
}

.maroon{
    color: maroon;
}

.springGreen{
    color: mediumspringgreen;
}